.container {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 100vh;
}

.form__wrap {
  display: grid;
  grid-auto-rows: 20% 70% 10%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.form__header {
  place-self: center;
}
.form__content {
  display: grid;
  width: 80%;
  grid-template-rows: repeat(3, 25%);
  justify-self: center;
}

.form__btn {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #B300C3;
  color: white;
  border-radius: 3px;
  font-size: 15px;
}
//
.form-group{
    position: relative;
}
.icon--form{
    position: absolute;
    right: 0px;
}
//aside
.form__aside {
    display:grid;
    background-color: #B300C3;
}
.form__heading{
    place-self: center;
    color:white;
    font-size: 27px;    

}
.form__footer{
    padding: 25px;
    place-self: end;    

}
//color
.title---form, .footer__link--color{
color:#B300C3;
}
.footer__link{
    color:white;
}

//btn

.isFailed{
  background: red;

}
.isDisabled{
  pointer-events: none;
  background: red;
}